* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

h1 {
  text-align: center;
  margin-top: 120px;
}

.container {
  overflow: hidden;
  background-color: #555;
  color: lightgrey;
  text-shadow: -1px -1px 5px black;
  height: 100vh;
  position: relative;
  background-image: URL("./img/main/nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.left,
.right {
  z-index: 3;
  background-color: black;
  height: 100vh;
  width: 50vw;
  position: absolute;
  transition: transform 1s;
  top: 0;
  background-image: URL("./img/main/wood.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.animright {
  transform: translateX(50vw);
}

.animleft {
  transform: translateX(-50vw);
}

.logo {
  position: absolute;
  max-width: 100%;
  transition: opacity 0.5s;
  cursor: pointer;
}

.leftlogo {
  right: 0;
  top: 30vh;
}

.rightlogo {
  left: 0;
  top: 30vh;
}

.headlogo {
  display: block;
  max-width: 100%;
  opacity: 0;
  transition: 0.5s all;
  margin: 0 auto;
  margin-top: 10rem;
  cursor: pointer;
}

.logoapear {
  opacity: 1;
}

.btnBack {
  margin: 1rem;
  display: inline-block;
  transition: all 0.3s;
  cursor: pointer;
}

.btnBack:hover {
  transform: scale(1.1);
}

.btnBack:active {
  transform: translateY(1px);
}
